:root {
  --font-main: "Inter-Variable", sans-serif;
  --font-accent: "Press Start 2P", fantasy;
  --font-weight-main: 785;
  --font-weight-main-text: 465;
  --bg-color: #000;
  --accent-color: #00cc14;
  --bg-image: url(../svg/pattern-dark.svg);
  --heart-contour-color: #00cc14;
  --heart-fill-color: #ff0000;

  --button-text-color: #ffff;

  --shadow-color: #000;
  --repeating-gradient: #000;
  --top-gradient: #007f0c;
  --bottom-gradient: #1a1a1a;
  --bg-gradient: repeating-linear-gradient(
      90deg,
      var(--repeating-gradient) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      var(--repeating-gradient) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(var(--top-gradient), var(--bottom-gradient));
}
